/**
* Wireframe Homework
**/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
      background: #333;
      min-width: 1500px;
  }

  header {
    text-align: center;
    padding: 50px;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-right: 120px;
    color: #333;
    background: white;
  }
  #nav {
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    color: #333;
    background: white;    
  }
  #section {
     text-align: center;
     padding: 50px 0px 350px;
     margin-left: 120px;
     margin-right: 500px;
     width: 45%;
     color: #333;
     background: white;
     position: relative;
     z-index: 0; 
  }
  #article {
    text-align: center;
    padding: 45px 10px 230px;
    margin-top: -320px;
    margin-left: 140px;
    margin-right: 720px;
    height: 60%;
    width: 42.5%;
    color: white;
    background: #333;
    position: relative;
    z-index: 1;
  }
  #h1 {
    text-align: center;
    padding: 20px;
    margin-top: -190px;
    margin-right: 160;
    margin-left: 170px;
    height: 10%;
    width: 38.5%;
    color: #333;
    background:white;
    position: relative;
    z-index: 2;
    font-weight: bolder;
  }
  #p {
    text-align: center;
    padding: 20px;
    margin-top: 25px;
    margin-left: 170px;
    height: 10%;
    width: 38.5%;
    color: #333;
    background: white;
    position: relative;
    z-index: 3;
  }
  #aside {
    text-align: center; 
    margin-top: -343px;
    padding: 50px 0px 350px;
    padding-right: 250px;
    padding-left: 280px;
    float: right;
    margin-right: 120px;
    color: #333;
    background: white;
    position: relative;
}
footer {
    text-align: center;
    padding:50px;
    margin-top: 90px;
    margin-left: 120px;
    margin-right: 120px;
    color: #333;
    background: white;
    position: relative;
}
  